body {
  background-color: #ccffbf;
}

.header {
  margin: auto;
  text-align: center;
}

.card {
  height: 140px;
  width: auto;
  margin: 0 5px;
}

.row{
  text-align: center;
}

.button{
  height: 50px;
  width: 75px;
  margin: 30px 0;
}
